node_modules/
build/
build-static/
.github/
.env.example
.env
package.json
package-lock.json
readme.md
tsconfig.json
jest.config.js
*.test.*
lerna.json
**/*/*.css
**/*/*.svg
**/*/public
*.yaml
**/*/config/
**/*/webpack.config.js
